GearLang_container/

out/
extension.js
*.js.map

node_modules/
client/node_modules/
server/node_modules/

package-lock.json
client/package-lock.json
server/package-lock.json

*.gear
*.gearlang

.vscode/

tree.txt