node_modules/
client/node_modules/
server/node_modules/

client/src/
server/src/

.vscode/
.gitignore
eslint.config.js
dev.sh

tsconfig.json
client/tsconfig.json
server/tsconfig.json

package-lock.json
client/package-lock.json
server/package-lock.json


main.gear
client/.gearlang
PROMPT.md
TODO.md
COMPLETED.md

Gearlang_container